#wrapper {
	margin: 10px;
	width: 480px;
	height: 300px;
	border: 1px solid #ddd;
}


#Picasa-Upload {
	display: none;
}

#topbar {
	background: #222;
	color: #fff;
	height: 26px;
	padding: 5px;
}

progress {
	margin-top: 5px;
	width: 75px;
}

/** nav bar */

nav {
}

.toolbarbtn {
	width: 24px;
	height: 24px;
	float: right;
	margin-left: 3px;
}

#options {
	background: url('/img/options.png');
}

.title {
	font-size: 1.2em;
	float: left;
	font-weight: bold;
}

.thumb {
	float: left;
	padding: 25px;
	width: 75px;
	border: 1px solid #000;
}

.statusicon {
	width: 32px;
}

.uploadprogress {
	text-align: center;
	float: left;
	margin-right: 5px;
}

.filepicker {
	text-align: center;
}

.filechoose {
	padding-top: 20px;
}

.dropzone {
	background: whiteSmoke;
	text-align: center;
	color: #222;
	padding: 25px;
	border: 1px dashed #ccc;
}
