html,body { background: #E7E7E7 }

a:hover {
 cursor:pointer;
}


#header {
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 20px;
	background: #2a333b;
	color: #FEFEFE !important;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

.container {
	background: #FCFCFC;
	border: 1px solid #ccc;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

.content {
	margin-bottom: 20px;
	padding: 10px;
	min-height: 400px;
}


#navbar {
	border-right: 1px solid #E5E5E5;
}

.page-header.dark {
	background: #333;
	padding: 10px;
	color: #EEE;
}

.light {
	color: #666;
}

.centered {
	text-align: center !important;
}

/** instances */
.user_block {
	background: #2A333B;
	color: #FFF;
	font-weight: bold;
	float: left;
	padding: 5px;
	margin: 5px;
	border: 1px solid #999;
}

.user_block.pgp_user {
	background: #51A351;
}

/** uploaders */

#Picasa-Upload {
	display: none;
}

progress {
	margin-top: 5px;
	width: 140px;
}

.thumb {
	width: 120px;
	height: 120px;
	padding: 10px;
	border: 1px solid #ddd;
	margin-right: 20px;
	word-break: break-all;
}

.statusicon {
	width: 32px;
}

.uploadprogress {
	text-align: center;
	float: left;
	margin-right: 5px;
}

.filepicker {
	text-align: center;
	margin-bottom: 20px;
}

.filechoose {
	padding-top: 20px;
}

.dropzone {
	background: whiteSmoke;
	text-align: center;
	color: #222;
	padding: 25px;
	border: 1px dashed #ccc;
}

.selectedfriend {
	float: left;
	padding: 5px;
	margin: 5px;
	font-weight: bold;
	background: #D8DFEA;
}

progress {
	display: block;
}

.uploadprogress, .newthumbs {
	float: left;
	margin-right: 10px;
	padding: 25px;
}

#pgp-form {
	margin-top: 50px;
}

.selectedcol {
	background: #fcc;
}

.modal {
	word-break: break-all;
}

.topmargin {
	margin-top: 100px;
}


tr.highlight-row > td {
	background: #fef38a !important;
	font-weight: bold;
}



